# 数据处理领域大神——Pandas

## 一、基础知识

### （1）安装、导入Pandas并创建数据

In [1]:
# 安装Pandas
# !pip install pandas

# 导入Pandas
import pandas as pd

# 导入numpy
import numpy as np

Pandas有两种主要数据结构：DataFrame & Series。

#### 1.DataFrame
首先来看创建DataFrame的方式有很多，主要有三种：
1. 用pd.DataFrame()将列表或字典转换为数据框；
2. 读入数据，可读入csv，excel，txt等多种类型，其中读取csv文件常指定encoding = 'utf-8'防止乱码；
3. 从DataFrame中截取。
*第二种方式我们在实战案例部分再展示*

In [38]:
data = pd.DataFrame({'a':[[1,2,3], [4,5,6], [7,8,9]],
                     'b':[4,5,6],
                     'c':[np.nan,8,9],
                     'd':['a','b','c']}) # 创建了3行4列的DataFrame，列名分别为a，b，c，d

df = pd.DataFrame([[[1,2,3], [4,5,6], [7,8,9]],
                  [4,5,6],
                  [np.nan,8,9],
                  ['a','b','c']]) # 创建的是4行3列的DataFrame，未指定列名（此时列名默认为0，1，2，3）
df = df.T  # 转置
df.columns = ['a','b','c','d'] # 更改列名

data0 = data[['a','c']]

print("data:\n", data)
print(type(data))
print("\ndf:\n", df)
print(type(df))
print("\ndata0:\n", data0)
print(type(data0))

data:
            a  b    c  d
0  [1, 2, 3]  4  NaN  a
1  [4, 5, 6]  5  8.0  b
2  [7, 8, 9]  6  9.0  c
<class 'pandas.core.frame.DataFrame'>

df:
            a  b    c  d
0  [1, 2, 3]  4  NaN  a
1  [4, 5, 6]  5    8  b
2  [7, 8, 9]  6    9  c
<class 'pandas.core.frame.DataFrame'>

data0:
            a    c
0  [1, 2, 3]  NaN
1  [4, 5, 6]  8.0
2  [7, 8, 9]  9.0
<class 'pandas.core.frame.DataFrame'>

注意上面使用命令print(data == df)会发现0行c列为Flase，因为numpy的np.nan是个特殊浮点数，表示not a number，用None也能起到同样效果，但数据类型不一样

In [30]:
print(data == df)
print("\n", np.nan == np.nan)
print("\n", type(np.nan))
print("\n", type(None))

      a     b      c     d
0  True  True  False  True
1  True  True   True  True
2  True  True   True  True

 False

 <class 'float'>

 <class 'NoneType'>

看看各列数据类型

In [150]:
print(data.dtypes)

a     object
b      int64
c    float64
d     object
dtype: object

#### 2.Series
Series是⼀种类似于⼀维数组的对象，它由⼀组数据以及⼀组与之相关的数据标签（即索引）组成，**不存在列的概念**。仅由⼀组数据即可产⽣最简单的Series：
1. 用pd.Series()将列表或字典转换为Series；
2. 从DataFrame或Series中截取。

In [43]:
obj1 = pd.Series({'0':[1,2,3],
                  '1':[4,5,6]})

obj2 = pd.Series([[1,2,3], [4,5,6]])

obj3 = data['a']

obj4 = obj3[[0,1]]  # obj4 = obj3[0:2]

print("obj1:\n", obj1)
print(type(obj1))
print("\nobj2:\n", obj2)
print(type(obj2))
print("\nobj3:\n", obj3)
print(type(obj3))
print("\nobj4:\n", obj4)
print(type(obj4))

obj1:
 0    [1, 2, 3]
1    [4, 5, 6]
dtype: object
<class 'pandas.core.series.Series'>

obj2:
 0    [1, 2, 3]
1    [4, 5, 6]
dtype: object
<class 'pandas.core.series.Series'>

obj3:
 0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
Name: a, dtype: object
<class 'pandas.core.series.Series'>

obj4:
 0    [1, 2, 3]
1    [4, 5, 6]
Name: a, dtype: object
<class 'pandas.core.series.Series'>

### （2）获取数据
#### 1.索引
对DataFrame可以采用.columns查询（或更改）列索引，.index查询行索引；对Series可用.values查询值，.index查询行索引。

In [37]:
print(data.columns)
print(data.index)
print(obj3.values)
print(obj3.index)

Index(['a', 'b', 'c', 'd'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
[list([1, 2, 3]) list([4, 5, 6]) list([7, 8, 9])]
RangeIndex(start=0, stop=3, step=1)

#### 2.查询
对DataFrame，可用.iloc或.loc查询值，前者用位置索引，后者用名称索引

In [79]:
print(data.iloc[1,2], ' ', type(data.iloc[1,2]))
print(data.iloc[1,-2], ' ', type(data.iloc[1,-2]))
print(data.loc[1,'c'], ' ', type(data.loc[1,'c']))
print('\n')
print(data.loc[:,'c'], ' ', type(data.loc[:,'c'])) # 等效于data['c']
print(data.loc[:,['a','c']], ' ', type(data.loc[:,['a','c']])) # 等效于data[['a', 'c']]
print(data.loc[0:1,['a','c']], ' ', type(data.loc[0:1,['a','c']])) # .loc[n:m]，m、n均包含
print(data.iloc[0:2,[0,2]], ' ', type(data.iloc[0:2,[0,2]])) # .iloc[n:m]，m包含，n不被包含

8.0   <class 'numpy.float64'>
8.0   <class 'numpy.float64'>
8.0   <class 'numpy.float64'>


0    NaN
1    8.0
2    9.0
Name: c, dtype: float64   <class 'pandas.core.series.Series'>
           a    c
0  [1, 2, 3]  NaN
1  [4, 5, 6]  8.0
2  [7, 8, 9]  9.0   <class 'pandas.core.frame.DataFrame'>
           a    c
0  [1, 2, 3]  NaN
1  [4, 5, 6]  8.0   <class 'pandas.core.frame.DataFrame'>
           a    c
0  [1, 2, 3]  NaN
1  [4, 5, 6]  8.0   <class 'pandas.core.frame.DataFrame'>

### （3）基本操作
#### 1.行与列

In [131]:
# 删除行或列
df1 = df.drop(['a', 'd'], axis=1) # 删除了ad两列
df1.drop([1], axis=0, inplace = True) # 删除第2行，inplace表示是否在原数据变换，默认为False
df1

   b    c
0  4  NaN
2  6    9

In [132]:
# 添加列
# 行的添加通常通过数据框合并实现
df1.insert(loc=1, column='c1', value=[111, 222]) # 直接在原数据上插入列，loc是列索引位置
# 如果是在末尾插入，可以直接
df1['b1']=[333, np.nan]
df1

   b   c1    c     b1
0  4  111  NaN  333.0
2  6  222    9    NaN

In [133]:
# 排序
df1.sort_index(axis=1, ascending = True, inplace = True) # 对列名排序，默认ascending = True，即升序
## 另外还有sort_values对值进行排序

# 重置索引
df1.reset_index(drop=True, inplace = True) # drop是丢弃原索引
## 还有set_index是用来指定某一列的值做索引

df1

   b     b1    c   c1
0  4  333.0  NaN  111
1  6    NaN    9  222

#### 2.数据清洗
缺失值处理：

In [134]:
# 查看是否有缺失值
print("查看该DataFrame是否有缺失值：\n", df1.isna().any().any())
print("查看每一列是否有缺失值：\n", df1.isna().any()) # 可以看到是b1和c有缺失值
print("查看每个值是否缺失：\n", df1.isna())

查看该DataFrame是否有缺失值：
 True
查看每一列是否有缺失值：
 b     False
b1     True
c      True
c1    False
dtype: bool
查看每个值是否缺失：
        b     b1      c     c1
0  False  False   True  False
1  False   True  False  False

In [140]:
# 直接删除含缺失值的列
df2 = df1.dropna(axis=1) # axis默认是0，即删除含缺失值的行
print(df2)
# 用线性插值填补含缺失值的列
df2 = df1.interpolate(method='linear', axis=0) # 注意线性插值不能应用在第一项缺失的情况
print(df2)
# 用均值填补含缺失值的列
df2 = df1.fillna(df1[['b1','c']].apply(lambda x:x.mean(), axis=0)) # apply和lambda见下面解释
print(df2)

   b   c1
0  4  111
1  6  222
   b     b1    c   c1
0  4  333.0  NaN  111
1  6  333.0    9  222
   b     b1    c   c1
0  4  333.0  9.0  111
1  6  333.0  9.0  222

将函数应用到由各列或行所形成的⼀维数组上，可使用apply方法

In [141]:
f = lambda x:x.max() - x.min() # 匿名函数
df31 = df2.apply(f,axis=0) # 对所有行应用，即每一列的所有行
df32 = df2.apply(f,axis=1) # 对所有列应用，即每一行的所有列
print(df31,"\n\n",df32)

b       2.0
b1      0.0
c       0.0
c1    111.0
dtype: float64

 0    329.0
1    327.0
dtype: float64

描述性统计

In [152]:
df2.describe(include='all') # 统计所有类型的列
# 另外还有df2.mean(), df2.sum(), df2.idxmax(), df2.idxmin()等函数

          b     b1    c          c1
count   2.0    2.0  2.0    2.000000
unique  2.0    NaN  NaN         NaN
top     6.0    NaN  NaN         NaN
freq    1.0    NaN  NaN         NaN
mean    NaN  333.0  9.0  166.500000
std     NaN    0.0  0.0   78.488853
min     NaN  333.0  9.0  111.000000
25%     NaN  333.0  9.0  138.750000
50%     NaN  333.0  9.0  166.500000
75%     NaN  333.0  9.0  194.250000
max     NaN  333.0  9.0  222.000000

#### 3.数据框合并

In [158]:
print(df1,'\n\n',df2)

   b     b1    c   c1
0  4  333.0  NaN  111
1  6    NaN    9  222

    b     b1    c   c1
0  4  333.0  9.0  111
1  6  333.0  9.0  222

In [156]:
# append函数直接上下连接
df01 = df2.append(df1)
df01

   b     b1    c   c1
0  4  333.0    9  111
1  6  333.0    9  222
0  4  333.0  NaN  111
1  6    NaN    9  222

In [162]:
# merge函数左右拼接
df02 = pd.merge(df2, df1, how='outer', on='b')
df02
# https://zhuanlan.zhihu.com/p/132579724

# 还有的pd.join函数，效果差不多

   b   b1_x  c_x  c1_x   b1_y  c_y  c1_y
0  4  333.0  9.0   111  333.0  NaN   111
1  6  333.0  9.0   222    NaN    9   222

In [164]:
# concat函数
df03 = pd.concat([df2, df1], axis=0)
df03

   b     b1    c   c1
0  4  333.0    9  111
1  6  333.0    9  222
0  4  333.0  NaN  111
1  6    NaN    9  222

### （3）导出
可以导出csv，excel，txt等格式的文件，其中导出csv时要指明编码格式，否则乱码

In [ ]:
# df2.to_csv(R"C:\Users\英俊潇洒的不爱言\Desktop\pandas.csv", index=False, encoding = "utf-8-sig")
# index=False是不把行索引也一并输出
# encoding="utf-8-sig"才能不乱码

## 二、实战案例

目标：形成2016-2021的省级面板数据。示例如下：

![面板数据示例](面板数据示例.png)

要求：从桌面文件夹中读取多张dataframe，按一定顺序拼接在一起，进行数据清洗、数据分析后，导出最后形成的面板数据。

In [165]:
import os

In [166]:
# 读取中经网文件夹下的数据
path='C:/Users/英俊潇洒的不爱言/Desktop/并行计算论文/中经网省份数据'
filenames=os.listdir(path=path) # 文件夹下的所有文件名

data_z = pd.DataFrame([])

for filename in filenames:
    pro = filename[0]+filename[1] # 记录省份名，就要
    tmp=pd.read_csv(path+'/'+filename, encoding = 'utf-8') # 读取该省数据
    tmp.insert(1, 'province', pro) # 省份名
    data_z = data_z.append(tmp, ignore_index=True) # ignore_index忽略原有两表的行索引

data_z = data_z.rename(columns={'年份': 'year'}) # 修改列名一致，方便后续拼接
data_z

,year,province,进出口总额（万美元）,公共图书馆总藏量（万册）,普通高等学校专任教师数,普通高中专任教师数,中等职业学校专任教师数,初中专任教师数,普通小学专任教师数,医疗卫生机构床位数（万张）,森林覆盖率（%）
0,2016,上海,43376819.00,7676.41,42308,17669,8229.0,38088,53389,12.92,14.00
1,2017,上海,47619665.00,7773.08,43484,17937,8125.0,39276,54697,13.46,14.00
2,2018,上海,51567970.00,7894.21,44585,18350,8083.0,40996,56803,13.90,14.04
3,2019,上海,49390503.00,8062.81,46278,18609,8160.0,43073,59451,14.65,14.00
4,2020,上海,50383136.00,8091.75,47668,19042,7991.0,44714,61466,15.22,14.04
...,...,...,...,...,...,...,...,...,...,...,...
181,2017,黑龙,1895119.50,2158.41,46278,42452,NaN,89672,114487,24.17,43.80
182,2018,黑龙,2643735.90,2232.93,46027,42686,NaN,88978,110544,25.01,43.78
183,2019,黑龙,2710864.50,2319.14,47245,42909,12604.0,88058,107089,26.26,43.80
184,2020,黑龙,2223092.08,2356.53,48858,43065,12346.0,86893,103715,25.33,43.78
185,2021,黑龙,3085000.00,2430.38,36325,44127,12734.0,85456,101192,26.05,43.78

In [168]:
provinces = data_z['province'].unique() # 记录省的顺序

path='C:/Users/英俊潇洒的不爱言/Desktop/并行计算论文/年鉴省份数据'
filenames=os.listdir(path=path) # 文件夹下的所有文件名
# del(filenames[0]) 有的时候第一个会是DS什么什么的奇怪文件需要删除，这里没有

data_b = pd.DataFrame([])

for pro in provinces:  # 为了保持数据顺序一致，这里要按上面的省份顺序读取
    for filename in filenames:
        if (filename[0] == pro[0]) & (filename[1] == pro[1]): # 省份前两个字一致即可
            tmp=pd.read_csv(path+'/'+filename, encoding = 'utf-8') # 读取该省数据
            tmp.sort_values(by=['年份'],ascending=True,inplace=True) # 原始数据是降序的
            tmp.insert(1, 'province', pro)
            data_b = data_b.append(tmp, ignore_index=True)
            break # 跳出filename的循环

data_b = data_b.rename(columns={'年份': 'year'}) # 修改列名一致，方便后续拼接

data_b.replace("2016年",2016,inplace = True)  # 修改年份名称与前表一致，方便后续拼接
data_b.replace("2017年",2017,inplace = True)  
data_b.replace("2018年",2018,inplace = True)  
data_b.replace("2019年",2019,inplace = True) 
data_b.replace("2020年",2020,inplace = True)  
data_b.replace("2021年",2021,inplace = True)

data_b

,year,province,一般公共预算支出（亿元）,产品或工艺创新（百分比）,农村居民可支配收入（元）,地区生产总值（亿元）,城镇居民可支配收入（元）,年末城镇人口比重（百分比）,房地产业增加值（亿元）,组织或市场创新（百分比）,至少一类创新（百分比）,规上工业企业利润总额（亿元）,规上工业企业负债合计（亿元）,规上工业企业资产总计(亿元),金融业增加值（亿元）
0,2016,上海,6918.94,6.700,25520,29887.0,57692,89.00,3102.5,11.100,33.900,2913.91,19588.27,39838.24,4698.0
1,2017,上海,7547.62,6.509,27825,32925.0,62596,89.10,2873.2,11.889,35.483,3243.80,20600.05,42355.44,5334.5
2,2018,上海,8351.54,7.000,30375,36011.8,68034,89.13,3185.3,11.900,36.100,3338.40,20060.70,42661.80,5901.9
3,2019,上海,8179.28,6.800,33195,37987.6,73615,89.22,3300.7,14.700,37.900,2927.07,21733.15,45509.56,6535.2
4,2020,上海,8102.11,7.300,34911,38963.3,76437,89.30,3375.9,12.200,34.800,2882.67,24125.17,49569.73,7216.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2017,黑龙,4641.08,2.365,12665,12313.0,27446,61.90,610.5,13.892,23.959,416.70,8541.90,14540.71,898.6
182,2018,黑龙,4676.75,2.200,13804,12846.5,29191,63.46,656.3,13.000,23.600,487.00,8732.50,14981.60,946.6
183,2019,黑龙,5011.56,2.000,14982,13544.4,30945,64.62,714.2,17.500,28.900,417.22,9651.38,16396.84,977.2
184,2020,黑龙,5449.41,3.700,16168,13633.4,31115,65.61,738.4,14.800,30.000,311.48,10384.29,17238.28,1053.1
185,2021,黑龙,5104.81,4.400,17889,14858.2,33646,65.69,715.8,15.600,30.500,536.98,11366.87,18650.18,1089.0

In [169]:
data = pd.merge(data_z, data_b, on=['year','province'])
data

,year,province,进出口总额（万美元）,公共图书馆总藏量（万册）,普通高等学校专任教师数,普通高中专任教师数,中等职业学校专任教师数,初中专任教师数,普通小学专任教师数,医疗卫生机构床位数（万张）,...,地区生产总值（亿元）,城镇居民可支配收入（元）,年末城镇人口比重（百分比）,房地产业增加值（亿元）,组织或市场创新（百分比）,至少一类创新（百分比）,规上工业企业利润总额（亿元）,规上工业企业负债合计（亿元）,规上工业企业资产总计(亿元),金融业增加值（亿元）
0,2016,上海,43376819.00,7676.41,42308,17669,8229.0,38088,53389,12.92,...,29887.0,57692,89.00,3102.5,11.100,33.900,2913.91,19588.27,39838.24,4698.0
1,2017,上海,47619665.00,7773.08,43484,17937,8125.0,39276,54697,13.46,...,32925.0,62596,89.10,2873.2,11.889,35.483,3243.80,20600.05,42355.44,5334.5
2,2018,上海,51567970.00,7894.21,44585,18350,8083.0,40996,56803,13.90,...,36011.8,68034,89.13,3185.3,11.900,36.100,3338.40,20060.70,42661.80,5901.9
3,2019,上海,49390503.00,8062.81,46278,18609,8160.0,43073,59451,14.65,...,37987.6,73615,89.22,3300.7,14.700,37.900,2927.07,21733.15,45509.56,6535.2
4,2020,上海,50383136.00,8091.75,47668,19042,7991.0,44714,61466,15.22,...,38963.3,76437,89.30,3375.9,12.200,34.800,2882.67,24125.17,49569.73,7216.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2017,黑龙,1895119.50,2158.41,46278,42452,NaN,89672,114487,24.17,...,12313.0,27446,61.90,610.5,13.892,23.959,416.70,8541.90,14540.71,898.6
182,2018,黑龙,2643735.90,2232.93,46027,42686,NaN,88978,110544,25.01,...,12846.5,29191,63.46,656.3,13.000,23.600,487.00,8732.50,14981.60,946.6
183,2019,黑龙,2710864.50,2319.14,47245,42909,12604.0,88058,107089,26.26,...,13544.4,30945,64.62,714.2,17.500,28.900,417.22,9651.38,16396.84,977.2
184,2020,黑龙,2223092.08,2356.53,48858,43065,12346.0,86893,103715,25.33,...,13633.4,31115,65.61,738.4,14.800,30.000,311.48,10384.29,17238.28,1053.1
185,2021,黑龙,3085000.00,2430.38,36325,44127,12734.0,85456,101192,26.05,...,14858.2,33646,65.69,715.8,15.600,30.500,536.98,11366.87,18650.18,1089.0

处理缺失值

In [171]:
columns = data.columns.tolist() # 把列名放在这方便

df=pd.DataFrame([])
for i in range(int(len(data)/6)):  # 因为每个省都有六年
    tmp = data.iloc[6*i:6*(i+1), :] # 该省的dataframe
    if tmp.isna().any().any(): # 如果有缺失值
        tmp_new = tmp.interpolate(method='linear', axis=0)  # 进行线性插值
        if tmp_new.isna().any().any():  # 如果有无法线性插值的（第一项为nan）
            tmp_new = tmp_new.fillna(tmp_new[columns[2:]].apply(lambda x:x.mean())) # 均值填补
        df = df.append(tmp_new, ignore_index=True) # 将插值后数据加入数据框
    else:
        df = df.append(tmp, ignore_index=True) # 将数据加入数据框
if not df.isna().any().any():
    print('缺失值已处理完毕')

缺失值已处理完毕

In [49]:
# GDP减房地产减金融业
df['eco'] = df['地区生产总值（亿元）'] - df['房地产业增加值（亿元）'] - df['金融业增加值（亿元）']
df = df.drop(columns = ['房地产业增加值（亿元）', '金融业增加值（亿元）'])
df

,year,province,进出口总额（万美元）,公共图书馆总藏量（万册）,普通高等学校专任教师数,普通高中专任教师数,中等职业学校专任教师数,初中专任教师数,普通小学专任教师数,医疗卫生机构床位数（万张）,...,城镇居民可支配收入（元）,年末城镇人口比重（百分比）,组织或市场创新（百分比）,至少一类创新（百分比）,规上工业企业利润总额（亿元）,规上工业企业负债合计（亿元）,规上工业企业资产总计(亿元),lever,wave,eco
0,2016,北京市,28234896.00,2594.38,70013,21056,6681.0,33469,61811,11.70,...,57275,86.76,12.900,35.400,1608.26,19798.13,43093.68,1.80662,0.023418,20015.3
1,2017,北京市,32401742.30,2759.15,69715,21452,6338.0,34451,64514,12.06,...,62406,86.93,13.620,35.965,2023.67,20671.02,45985.76,1.89468,0.014891,22162.9
2,2018,北京市,41248793.80,2876.43,71095,20892,6147.0,35643,66894,12.36,...,67990,87.09,13.800,37.600,1530.00,21437.10,48009.50,1.91453,0.011271,24673.2
3,2019,北京市,41645675.20,3012.31,71997,20633,6019.0,37057,69339,12.78,...,73849,87.35,16.100,40.300,1710.25,21974.48,52222.01,1.98853,0.021830,26297.1
4,2020,北京市,33647807.96,3133.09,74138,21013,5765.0,38079,71035,12.70,...,75602,87.55,14.000,37.100,1729.55,24193.79,55167.01,2.047,0.047680,26427.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2017,新疆维吾尔自治区,2056853.00,1501.68,20601,44487,9833.0,85965,153387,16.76,...,30775,51.90,15.607,25.486,722.57,12951.84,20365.22,0.527039,0.018715,9852.9
182,2018,新疆维吾尔自治区,1999974.70,1420.40,20797,44736,10690.0,85990,158617,17.89,...,32764,54.01,15.300,24.400,788.80,12472.70,20947.60,0.528405,0.025083,11358.6
183,2019,新疆维吾尔自治区,2370734.80,1489.86,21798,44262,12084.0,89187,167448,18.64,...,34664,55.51,19.700,29.500,680.95,14000.75,23214.43,0.558587,0.007823,12058.4
184,2020,新疆维吾尔自治区,2137381.12,1512.75,23884,42355,11383.0,89614,170094,18.15,...,34838,56.53,14.100,23.500,671.79,15070.20,24857.05,0.619526,0.037925,12157.8
185,2021,新疆维吾尔自治区,2429833.10,1600.85,14427,41339,12325.0,89692,170151,18.61,...,37642,57.26,15.300,24.500,1936.85,16105.57,28224.58,0.583022,0.011870,14572.7